
  <button (click)="isAutoplay = true; makeTurn();" [disabled]="isAutoplay || globals.isWaiting" class="auto-play">Autoplay</button>
  <br>
  <div class="game" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div *ngFor="let number of numbers; let i = index">
      <span *ngIf="i>0">{{number*3}}/3= </span>  {{number}}
    </div>
  </div>

  <form class="set-number">
    <label for="set-number">Your Turn:</label>
    <button (click)="makeTurn(-1)" [disabled]="globals.isWaiting || isWinner !== undefined || isAutoplay">-1</button>
    <button (click)="makeTurn(0)" [disabled]="globals.isWaiting || isWinner !== undefined || isAutoplay">0</button>
    <button (click)="makeTurn(1)" [disabled]="globals.isWaiting || isWinner !== undefined || isAutoplay">+1</button>
  </form>

 <div *ngIf="isWinner">
   You are the winner! Congratulations!
 </div>
 <div *ngIf="isWinner === false">
   You have lost :(
 </div>
<div *ngIf="isTimeout">
    No response from the opponent. Please restart.  
</div>

 <button (click)="replayTheGame()" *ngIf="isWinner !== undefined || isTimeout" >Replay</button>

