
  <button (click)="isAutoPlay = true" [disabled]="isAutoPlay" class="auto-play">Autoplay</button>
  <br>
  <div class="game" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div *ngFor="let number of numbers; let i = index">
      {{number}}
    </div>
  </div>

  <form class="set-number">
    <label for="set-number">Your Turn:</label>
    <button (click)="makeTurn(-1)" [disabled]="globals.isWaiting || isWinner !== undefined">-1</button>
    <button (click)="makeTurn(0)" [disabled]="globals.isWaiting || isWinner !== undefined">0</button>
    <button (click)="makeTurn(1)" [disabled]="globals.isWaiting || isWinner !== undefined">+1</button>
  </form>



  <div class="spinner-border" role="status" *ngIf="globals.isWaiting && !isWinner">
      <span class="sr-only">Loading...</span>
  </div>

 <div *ngIf="isWinner">
   You are the winner! Congratulations!
 </div>
 <div *ngIf="isWinner === false">
   You have lost :(
 </div>

 <button (click)="replayTheGame()" *ngIf="isWinner !== undefined" >Replay</button>

